body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    line-height: 0;

}

h2 {
    font-size: 40px;
}

.donate-button {
    text-decoration: none;
    background: linear-gradient(rgb(241, 90, 63), rgb(252, 126, 112));
    color: white;
    border-radius: 5px;
    padding: 12px 15px;
    font-weight: 700;
}

.top-banner {
    color: white;
    background-image: url("images/donation5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}


.background-shadow {
    background-color: rgba(0, 0, 0, 0.6);
    height: 215px;
    text-align: center;
    padding: 5%;
}

.donate-area {
    margin-bottom: 50px;
}

#donation-div,
#gallery-div,
#update-div {
    width: 550px;
    text-align: center;
}

.taka {
    display: flex;
    justify-content: center;
}

.money-amount {
    width: 110px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.7);
}

#pink-money-amount {
    width: 110px;
    padding: 5px;
    color: tomato;
    border: 3px solid salmon;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(255, 192, 203, 0.3);
    border-radius: 10px;
}

.centered-text {
    font-size: 20px;
    color: gray;
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    width: 600px;
}

.other-amount {
    display: flex;
    justify-content: center;
}

.centered-button {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 250px;
    margin: 20px;
    padding: 20px;
}

#first-card {
    background-color: rgba(79, 157, 166, 0.1)
}

#second-card {
    background-color: rgba(255, 89, 89, 0.1);
}

#third-card {
    background-color: rgb(255, 244, 214);
}

.img-card img {
    width: 300px;
    height: 300px;
}

.img-card {
    margin: 30px;
    box-shadow: 30px 30px 40px lightgray;
}

#subscribe-button {
    text-decoration: none;
    border: none;
    background: linear-gradient(cyan, teal);
    color: white;
    border-radius: 5px;
    padding: 12px 15px;
    font-weight: 700;
}

#subscribe-container {
    height: 180px;
    width: 700px;
    background-color: rgb(255, 244, 214);
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 15px;
    margin-top: 40px;
}

#form-group {
    text-align: center;
    padding-top: 11%;
}

#subscribe-section {
    margin-top: 50px;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
}

footer p {
    color: white;
}

#fancy-font {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: salmon;
    line-height: 0;
}